@import "font-roboto.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1264px;
    padding: 0 16px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.header {
    background-image: url("../images/castel.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 120px;
}
.header_nav{
    display: flex;
    justify-content: space-between;
}
.nav,.header_nav_img{
    display: flex;
    align-items: center;
}
.header_nav_link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 24px;
}
.header_nav_link:hover{
    padding-bottom: 10px;
    border-bottom: 3px solid #F5BD41;
}

.header_nav_img >a{
    padding-left: 24px;
}
h1 {
    margin-top: 200px;
    font-style: normal;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

hr {
    border: 0;
    width: 100px;
    height: 4px;
    margin: 20px auto;
    background: #F5BD41;
}
.header_form{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    background: #ffffff;
    border-radius: 8px;
    box-sizing: content-box;
}
.header_form>input{
    padding: 22px 24px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    border: none;
    border-radius: 8px;
}
.form_destinations:hover,.calender:hover, .people_count:hover{
    margin: -3px 0;
    border: #F5BD41 solid 3px;
}
.form_btn{
    background: #3077C6;
    color: #ffff;
    font-size: 24px;
    border-radius: 8px;
}
.header_store_links{
    margin-top: 140px;
    display: flex;
    justify-content: center;
}
.header_store_links >a{
    margin-right: 16px;
}
h2 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
}

.offer, .footer, .hotels, .destinations {
    padding: 120px 0;
}

.offer_main {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.offer_item_text {
    margin-top: 48px;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
    text-align: center;
}

.hotels {
    background: #EAF0F9;
}

.hotels_main, .destinations_main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}

.hotels_item {
    width: 25%;
}

.hotel_item_name,.destinations_item_name{
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #3077C6;
}

.hotel_item_place {
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #BFBFBF;
}

.btn-group {
    display: inline-block;
    margin-top: 100px;
    background-color: #eaf0f9;
    border-radius: 10px;
}

.btn-group button {
    color: #000000;
    cursor: pointer;
    border: none;
    padding: 16px 52px;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.btn-group button:hover {
    background-color: #0018ea;
    color: #ffffff;
}

.rnd_btn {
    margin-top: 60px;
    width: 40px;
    height: 40px;
    background: #eaf0f9;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btm-section{
    margin-top: 120px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #eaf0f9;
}

.img_round {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: #ffffff;
}

.btm_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btm_text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}

.btm_btn {
    margin-top: 20px;
    height: 48px;
    width: 128px;
    border-radius: 10px;
    background: #ffffff;
    color: #3077C6;
    border: 1px solid #3077C6;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.vector {
    display: flex;
    flex-grow: 6;
    justify-content: flex-end;
    margin-right: 10px;
    padding-bottom: 150px;
}

.footer {
    background: #10367C;;
    padding: 120px 0;
}

.main_foot_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_text_block {
    width: 33.33%;
    margin-right: 16px;
}

.footer_text_block > li {
    list-style: none;
    margin-bottom: 25px;
}

.footer_text_block > li > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.footer_text_block > div {
    margin: 24px 0;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #FFFFFF;
}

.sign {
    margin-top: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}

@media screen and (max-width: 950px) {
    h2{
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
    }
    hr {
        display: none;
    }
    .container {
        font-size: 15px;
        padding: 0 16px;
    }

    .offer_main {
        flex-direction: column;
        align-items: center;
    }
    .offer_item{
        margin: 32px;
    }
.offer_item_text{
    margin-top: 16px;
}
}