@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.offer {
    height: 569px;
}

.container {
    margin: 0 104px 0 104px;
}

hr {
    width: 100px;
    height: 4px;
    margin: 0 auto;
    background: #F5BD41;
}

h2 {
    text-align: center;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #383838;
    padding: 120px 0 20px 0;
}

.container .flex {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 296px;
    height: 176px;
}

.text_block {
    width: 296px;
    vertical-align: bottom;
    font-family: Roboto, serif;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}

.hotels {
    height: 828px;
    background: #EAF0F9;
}

.flex_hotels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_hotels {
    width: 296px;
    height: 435px;
}

.text_block2_1 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #3077C6;
}

.text_block2_2 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #BFBFBF;
}

.item_hotels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
}